name: Testing

on:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Verify dependencies
        run: go mod verify

      - name: Lint repository code
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: Run repository tests
        run: go test ./...
